<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<body>

@RenderBody()

@RenderSection("scripts" , required:false)

<script src="https://accounts.google.com/gsi/client" async></script>
</body>
</html>